<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionStringDataBase" 
         connectionString="Data Source=localhost\MSSQLSERVER08_R2;Initial Catalog=RGPH_QCollecte_db;Persist Security Info=True;User ID=sa;Password=123@pass" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConStrg" value="packet size=4096;persist security info=True" />
    <add key="ServerName" value="localhost\MSSQLSERVER08_R2" />
    <!-- Le nom de l'instance de la base de BD -->
    <add key="Catalog" value="yMXFQsjo9/Xo+ufkTCfvxeRmL21zpHZ7bO9aKaOoLIM=" />
    <!-- [ RGPH_QCollecte_db ] Le nom de la Base de Données-->
    <add key="UserID" value="qGGzBmlKuVG+Qb0xlmBtgQ==" />
    <!-- [ sa ] Le nom de l'utilisateur pouvant connecter à la BD -->
    <add key="PassID" value="4AAxsBmHf+elR3rJC6QnFA==" />
    <!-- [ 123@pass ] Le mot de passe de l'utilisateur  -->
    <add key="SMTPServer" value="smtp.brain-dev.net" />
    <add key="EmailFrom" value="info@brain-dev.net" />
    <add key="EmailPassword" value="iG0KO61eZXQlQFPpfSkQsA==" />
    <add key="Email_Address_FROM" value="info@brain-dev.net" />
    <add key="EmailToSendError" value="duverseau.jeanfritz@gmail.com" />
    <add key="Email_FeedBack_Rezo509" value="duverseau.jeanfritz@gmail.com" />
    <add key="Email_Erreur_Rezo509" value="duverseau.jeanfritz@gmail.com" />
    <add key="EmailToCopyTo" value="duverseau.jeanfritz@gmail.com" />
  </appSettings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="Msg" assembly="msgBox" namespace="BunnyBear" />
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
          <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
          <add tagPrefix="telerik" assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" />
          <add tagPrefix="BRAIN" assembly="RequiredFieldValidatorForCheckBoxLists" namespace="Custom.Validators" />
          <add tagPrefix="RGPH" tagName="SidebarMenuVertical" src="~/UserControl/WUC_MenuVertical.ascx" />
          <add tagPrefix="BRAIN" tagName="CULogin2" src="~/UserControl/WUC_Login2.ascx" />
        </controls>
      </pages>
      <httpHandlers>
        <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      </httpHandlers>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>

</configuration>
