
GO
/****** Object:  StoredProcedure [dbo].[SR_UpdateUser_AskPassword]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_UpdateUser_AskPassword]
GO
/****** Object:  StoredProcedure [dbo].[SR_UpdateSR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_UpdateSR_MODULES]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_Trace_LastLogin]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_User_Trace_LastLogin]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_Statut_Connexion]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_User_Statut_Connexion]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_ForcedOut]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_User_ForcedOut]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Password_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_Password_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_Object]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_Groupe2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Update_Groupe]
GO
/****** Object:  StoredProcedure [dbo].[SR_SelectSR_MODULES_ByID]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_SelectSR_MODULES_ByID]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ByUserName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_User_ByUserName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ByID_Ecole_ByUserName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_User_ByID_Ecole_ByUserName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_User_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_SR_MODULES_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_SR_MODULES_ByName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Right_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Right_ByName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Right_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Right_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ByName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName_Actif2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName_Actif2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName_Actif]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName_Actif]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_GroupeUser_ById2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_GroupeUser_ById2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_GroupeUser_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_GroupeUser_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Groupe_ByName2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Groupe_ByName2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Groupe_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Select_Groupe_ByName]
GO
/****** Object:  StoredProcedure [dbo].[SR_Search_User_Like]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Search_User_Like]
GO
/****** Object:  StoredProcedure [dbo].[SR_Search_Object_Like]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Search_Object_Like]
GO
/****** Object:  StoredProcedure [dbo].[SR_Search_ActiviteUser_ByUser_AndDate]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Search_ActiviteUser_ByUser_AndDate]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListeAll_Objets_ByObjectType]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListeAll_Objets_ByObjectType]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Utilisateur_InLog]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Utilisateur_InLog]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_UserConnected]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_UserConnected]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User_InAnnonce]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_User_InAnnonce]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User_ByIDGroup_ByStatut]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_User_ByIDGroup_ByStatut]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_TypeObject]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_TypeObject]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_SR_MODULES_Actif]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_SR_MODULES_Actif]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_SR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_SR_MODULES]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights_NotIn_GroupeRight]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Rights_NotIn_GroupeRight]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights_ByGroupe]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Rights_ByGroupe]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Rights]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Poste_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Poste_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objets_NotIn_Right_ByID_Modules]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objets_NotIn_Right_ByID_Modules]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objets_NotIn_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objets_NotIn_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_IsProduitRezo509]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objects_IsProduitRezo509]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right_ByType_ByID_Modules]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objects_In_Right_ByType_ByID_Modules]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right_ByType]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objects_In_Right_ByType]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objects_In_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Objects]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Groupe2]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Groupe]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_ActivityUser_InLog]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_ActivityUser_InLog]
GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Activite_Utilisateur]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_ListAll_Activite_Utilisateur]
GO
/****** Object:  StoredProcedure [dbo].[SR_InsertSR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_InsertSR_MODULES]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_UserActivite_InRezo]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_UserActivite_InRezo]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_ObjetRight]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_ObjetRight]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_ObjectRight_ByName_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_ObjectRight_ByName_Object]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Object]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Groupe2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe_Right_ByName_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Groupe_Right_ByName_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Groupe_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Insert_Groupe]
GO
/****** Object:  StoredProcedure [dbo].[SR_Disconnect_USER_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Disconnect_USER_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Disconnect_AllUser]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Disconnect_AllUser]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_User]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_User]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ObjectRight_ById_Groupe_AND_ById_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_ObjectRight_ById_Groupe_AND_ById_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ObjectRight_ById_AND_NameObject]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_ObjectRight_ById_AND_NameObject]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Object]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Groupe2]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe_Right_ById_Groupe_AND_ById_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Groupe_Right_ById_Groupe_AND_ById_Right]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe_Right_ById_AND_NameRight]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Groupe_Right_ById_AND_NameRight]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Groupe]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ALL_Activite_Utilisateur]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_ALL_Activite_Utilisateur]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Activite_Utilisateur_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
DROP PROCEDURE [dbo].[SR_Delete_Activite_Utilisateur_ById]
GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Activite_Utilisateur_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Delete_Activite_Utilisateur_ById] 
(
	@ID_Activite bigint
)
AS
	DELETE FROM dbo.TBL_SR_USER_ACTIVITE WHERE ID_Activite = @ID_Activite

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ALL_Activite_Utilisateur]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Delete_ALL_Activite_Utilisateur] 
AS
	DELETE FROM dbo.TBL_SR_USER_ACTIVITE 

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Groupe]
(
	@ID int
)
AS

DELETE FROM TBL_SR_GROUPE 
WHERE ID_Group = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe_Right_ById_AND_NameRight]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Groupe_Right_ById_AND_NameRight]
(
	@id bigint,
	@nmprq nvarchar(100)
)
AS

DELETE FROM TBL_SR_GROUPE_RIGHT
WHERE 
	Group_ID = @id
	AND Right_ID in (SELECT Right_ID FROM dbo.TBL_SR_RIGHTS
	WHERE Privilege = @nmprq)

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe_Right_ById_Groupe_AND_ById_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Groupe_Right_ById_Groupe_AND_ById_Right]
(
	@id bigint,
	@idprq bigint
)
AS

DELETE FROM dbo.TBL_SR_GROUPE_RIGHT
WHERE 
	Group_ID = @id AND Right_ID = @idprq

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Groupe2]
(
	@ID int
)
AS

DELETE FROM TBL_SR_GROUPE 
WHERE ID_Group = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Object]
(
	@ID int
)
AS

DELETE FROM dbo.TBL_SR_OBJECTS
WHERE [Object_ID] = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ObjectRight_ById_AND_NameObject]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_ObjectRight_ById_AND_NameObject]
(
	@id bigint,
	@nmprq nvarchar(50)
)
AS

DELETE FROM TBL_SR_OBJECT_RIGHT
WHERE 
	Right_ID = @id
	AND [Object_ID] in (
							SELECT [Object_ID] FROM dbo.TBL_SR_OBJECTS
							WHERE ObjectDescription = @nmprq
					    )

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_ObjectRight_ById_Groupe_AND_ById_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_ObjectRight_ById_Groupe_AND_ById_Right]
(
	@id bigint,
	@idprq bigint
)
AS

DELETE FROM dbo.TBL_SR_OBJECT_RIGHT
WHERE 
	Right_ID = @id AND [Object_ID] = @idprq

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_Right]
(
	@ID int
)
AS

DELETE FROM TBL_SR_RIGHTS
WHERE Right_ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Delete_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Delete_User]
(
	@ID_User BIGINT
)
AS

	DELETE FROM dbo.TBL_SR_USER
	WHERE ID_User = @ID_User

GO
/****** Object:  StoredProcedure [dbo].[SR_Disconnect_AllUser]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Disconnect_AllUser]
AS 
    DECLARE @Error int
    DECLARE @ID bigint

    BEGIN TRANSACTION 

	UPDATE dbo.TBL_SR_USER 
	SET 
		ConnecterYN = 0,  
		IsForcedOut = 1
		
 COMMIT TRANSACTION
ERROR_HANDLER:
    IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
    select @Error as  ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Disconnect_USER_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SR_Disconnect_USER_ById]
(
	@ID_USER BIGINT
)
AS 
    DECLARE @Error int
    DECLARE @ID bigint

    BEGIN TRANSACTION 

	UPDATE dbo.TBL_SR_USER 
	SET 
		ConnecterYN = 0,  
		IsForcedOut = 1 
	WHERE 
		ID_User = @ID_USER
		
 COMMIT TRANSACTION
ERROR_HANDLER:
    IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
    select @Error as  ID_User

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_Groupe]
(
	@Groupe_Description nvarchar(100),
	@PageDefault nvarchar(max),
	@CreatedBy nvarchar(100)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO TBL_SR_GROUPE 
	(
		Groupe_Description,
		PageDefault, 
		CreatedBy, 
		DateCreated
	)
	VALUES
	(   
		@Groupe_Description,
		@PageDefault,
		@CreatedBy,
		getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 
	
	COMMIT TRANSACTION

	SELECT @ID AS ID_Group  

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_Groupe_Right]
(
	@Group_ID bigint,
	@Right_ID bigint,
	@usrcr nvarchar(100)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO TBL_SR_GROUPE_RIGHT
	(
		Group_ID, Right_ID, CreatedBy, DateCreated
	)
	VALUES
	(   
		@Group_ID, @Right_ID, @usrcr, getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity  

	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe_Right_ByName_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_Groupe_Right_ByName_Right]
(
	@idgrp bigint,
	@prq nvarchar(50),
	@usrcr nvarchar(20)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO dbo.TBL_SR_GROUPE_RIGHT 
	(
		Group_ID, Right_ID, CreatedBy, DateCreated
	)
	SELECT @idgrp, Right_ID, @usrcr, getdate() FROM dbo.TBL_SR_RIGHTS WHERE Privilege = @prq
	

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity  

	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_Groupe2]
(
	@Groupe_Description nvarchar(100),
	@PageDefault nvarchar(max),
	@CreatedBy nvarchar(100)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO TBL_SR_GROUPE 
	(
		Groupe_Description,
		PageDefault, 
		CreatedBy, 
		DateCreated
	)
	VALUES
	(   
		@Groupe_Description,
		@PageDefault,
		@CreatedBy,
		getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 
	
	COMMIT TRANSACTION

	SELECT @ID AS ID_Group  

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Insert_Object]
(
	@Nom nvarchar(100),
	@Desc nvarchar(200),
	@Type nvarchar(20),
	@ID_Modules bigint,
	@IsProduitsRezo509 bit,
	@usrcr nvarchar(100)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO dbo.TBL_SR_OBJECTS
	(
		[Object],
		ObjectDescription,
		ObjectType,
		ID_Modules,
		IsProduitsRezo509,
		CreatedBy, 
		DateCreated
	)
	VALUES
	(   
		@Nom,
		@Desc,
		@Type,
		@ID_Modules,
		@IsProduitsRezo509,
		@usrcr,
		getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity  

	COMMIT TRANSACTION

	SELECT @ID AS [Object_ID]  

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error


GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_ObjectRight_ByName_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_ObjectRight_ByName_Object]
(
	@idrght bigint,
	@prq nvarchar(50),
	@usrcr nvarchar(20)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO  TBL_SR_OBJECT_RIGHT
	(
		Right_ID, [Object_ID], CreatedBy, DateCreated
	)
	SELECT @idrght, [Object_ID], @usrcr, getdate() FROM dbo.TBL_SR_OBJECTS WHERE ObjectDescription = @prq
	

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity  

	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_ObjetRight]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_ObjetRight]
(
	@idrght bigint,
	@idprq bigint,
	@usrcr nvarchar(20)
)
AS

	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 

	INSERT INTO TBL_SR_OBJECT_RIGHT
	(
		Right_ID, [Object_ID], CreatedBy, DateCreated
	)
	VALUES
	(   
		@idrght, @idprq, @usrcr, getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity  

	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_Right]
(
	@Nom nvarchar(50),
	@usrcr nvarchar(20)
)
AS

	DECLARE @Error int
	DECLARE @ID int

	BEGIN TRANSACTION 

	INSERT INTO TBL_SR_RIGHTS
	(
		Privilege,
		CreatedBy, 
		DateCreated
	)
	VALUES
	(   
		@Nom,
		@usrcr,
		getdate()
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 
	
	COMMIT TRANSACTION

	SELECT @ID AS Right_ID  

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_User]
(
	@ID_Ecole bigint
	,@Photo image
	,@ID_GroupeUser bigint
	,@UserName nvarchar(200)
	,@Password nvarchar(200)
	,@Civilite nvarchar(20)
	,@Nom nvarchar(400)
	,@Prenom nvarchar(200)
	,@Sexe nvarchar(20)
	,@Telephone nvarchar(100)
	,@DateNaissance date
	,@ID_PaysNaissance bigint
	,@ID_Occupation bigint
	,@ID_Departement bigint
	,@ID_Commune bigint
	,@ID_PaysAdresse bigint
	,@AdresseRue nvarchar(400)
	,@AdresseCity nvarchar(200)
	,@AdresseProvince nvarchar(200)
	,@AdresseCodePostal nvarchar(200)
	,@AlerteNouveaute bit
	,@AutreAlerte bit
	,@ActifYN bit
	,@Confirmer bit
	,@IdAppFireBase nvarchar(MAX)
	,@IdFirebaseToken nvarchar(MAX)
	,@CreatedBy nvarchar(200)
)
AS
	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 
	INSERT INTO TBL_SR_USER
		(
		[ID_Ecole]
		,[Photo]
		,[ID_GroupeUser]
		,[UserName]
		,[Password]
		,[Civilite]
		,[Nom]
		,[Prenom]
		,[Sexe]
		,[Telephone]
		,[DateNaissance]
		,[ID_PaysNaissance]
		,[ID_Occupation]
		,[ID_Departement]
		,[ID_Commune]
		,[ID_PaysAdresse]
		,[AdresseRue]
		,[AdresseCity]
		,[AdresseProvince]
		,[AdresseCodePostal]
		,[AlerteNouveaute]
		,[AutreAlerte]
		,[ActifYN]
		,[Confirmer]
		,[IdAppFireBase]
		,[IdFirebaseToken]
		,[CreatedBy]
		,[DateCreated]
	)
	VALUES
	(
		@ID_Ecole
		,@Photo
		,@ID_GroupeUser
		,@UserName
		,@Password
		,@Civilite
		,@Nom
		,@Prenom
		,@Sexe
		,@Telephone
		,@DateNaissance
		,@ID_PaysNaissance
		,@ID_Occupation
		,@ID_Departement
		,@ID_Commune
		,@ID_PaysAdresse
		,@AdresseRue
		,@AdresseCity
		,@AdresseProvince
		,@AdresseCodePostal
		,@AlerteNouveaute
		,@AutreAlerte
		,@ActifYN
		,@Confirmer
		,@IdAppFireBase
		,@IdFirebaseToken
		,@CreatedBy
		,GETDATE()
	)
	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 

	COMMIT TRANSACTION

	SELECT @ID AS ID_User 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Insert_UserActivite_InRezo]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Insert_UserActivite_InRezo]
(
	@User_ID nvarchar(MAX)
   ,@Activity nvarchar(MAX)
   ,@IPUser nvarchar(MAX)
   ,@Description_Activite nvarchar(max)
)
AS

	DECLARE @Error int
	DECLARE @ID int

	BEGIN TRANSACTION 
	
	INSERT INTO dbo.TBL_SR_USER_ACTIVITE
	(
		[User_ID]
       ,[Activity]
       ,[IPUser]
       ,[Date_Activite]
       ,[Description_Activite]
	)
	VALUES
	(   
		@User_ID
	   ,@Activity
	   ,@IPUser
	   ,GETDATE()
	   ,@Description_Activite
	)

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 
	
	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_InsertSR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_InsertSR_MODULES] 
	(
		@Module nvarchar(200)
		,@ModuleDescription nvarchar(400)
		,@ActifYN bit
		,@CreatedBy nvarchar(200)
	)
AS
	DECLARE @Error int
	DECLARE @ID bigint

	BEGIN TRANSACTION 
	INSERT INTO TBL_SR_MODULES
		(
		[Module]
		,[ModuleDescription]
		,[ActifYN]
		,[CreatedBy]
		,datecreated
	)
	VALUES
	(
		@Module
		,@ModuleDescription
		,@ActifYN
		,@CreatedBy
		,GETDATE()
	)
	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	SET @ID = @@Identity 

	COMMIT TRANSACTION

	SELECT @ID

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Activite_Utilisateur]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Activite_Utilisateur]
AS	
	SELECT *
	FROM [dbo].[TBL_SR_USER_ACTIVITE]
	ORDER BY [Date_Activite] DESC

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_ActivityUser_InLog]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_ActivityUser_InLog]
AS
	SELECT DISTINCT Activity FROM dbo.TBL_SR_USER_ACTIVITE
	ORDER BY Activity

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Groupe]
AS
	SELECT * FROM dbo.TBL_SR_GROUPE

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Groupe2]
AS
	SELECT * FROM dbo.TBL_SR_GROUPE

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Objects]
AS

SELECT * FROM dbo.TBL_SR_OBJECTS

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Objects_In_Right]
(
	@ID bigint
)
AS

	SELECT * FROM TBL_SR_OBJECTS
	WHERE [Object_ID] in (
							SELECT [Object_ID] FROM dbo.TBL_SR_OBJECT_RIGHT
							WHERE Right_ID = @ID
						 )

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right_ByType]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Objects_In_Right_ByType]
(
	@ID bigint,
	@typeobj nvarchar(100)
)
AS

	SELECT * FROM dbo.TBL_SR_OBJECTS
	WHERE ObjectType = @typeobj
		AND [Object_ID] in (
								SELECT [Object_ID] FROM dbo.TBL_SR_OBJECT_RIGHT
								WHERE Right_ID = @ID
						   )

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_In_Right_ByType_ByID_Modules]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_ListAll_Objects_In_Right_ByType_ByID_Modules]
(
	@ID bigint,
	@ID_Modules bigint,
	@typeobj nvarchar(100)
)
AS

	SELECT * FROM dbo.TBL_SR_OBJECTS
	WHERE ObjectType = @typeobj
	AND ID_Modules = @ID_Modules
		AND [Object_ID] in (
								SELECT [Object_ID] FROM dbo.TBL_SR_OBJECT_RIGHT
								WHERE Right_ID = @ID
						   )


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objects_IsProduitRezo509]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SR_ListAll_Objects_IsProduitRezo509]
( @IsProduitsRezo509 AS BIT )
AS

SELECT * FROM dbo.TBL_SR_OBJECTS WHERE IsProduitsRezo509 = @IsProduitsRezo509



GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objets_NotIn_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_ListAll_Objets_NotIn_Right]
(
	@ID bigint,
	@typeobj nvarchar(100)
)
AS

	SELECT * FROM TBL_SR_OBJECTS
	WHERE [Object_ID] not in (
								SELECT [Object_ID] FROM TBL_SR_OBJECT_RIGHT
								WHERE Right_ID = @ID
							  )
	AND ObjectType = @typeobj


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Objets_NotIn_Right_ByID_Modules]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_ListAll_Objets_NotIn_Right_ByID_Modules]
(
	@ID bigint,
	@ID_Modules bigint,
	@typeobj nvarchar(100)
)
AS

	SELECT * FROM TBL_SR_OBJECTS
	WHERE [Object_ID] not in (
								SELECT [Object_ID] FROM TBL_SR_OBJECT_RIGHT
								WHERE Right_ID = @ID
							  )
	AND ObjectType = @typeobj
	AND ID_Modules = @ID_Modules


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Poste_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Poste_User] 

AS
	SELECT DISTINCT Poste FROM TBL_SR_USER
	WHERE Poste IS NOT NULL

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Rights]

AS

	SELECT * FROM TBL_SR_RIGHTS

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights_ByGroupe]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Rights_ByGroupe]
(
	@ID bigint
)
AS

	SELECT * FROM TBL_SR_RIGHTS
	WHERE Right_ID in (
						SELECT Right_ID FROM TBL_SR_GROUPE_RIGHT
						WHERE Group_ID = @ID
					  )

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Rights_NotIn_GroupeRight]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Rights_NotIn_GroupeRight]
(
	@idgrp int
)
AS

	SELECT * FROM TBL_SR_RIGHTS
	WHERE Right_ID not in (
							SELECT Right_ID
							FROM TBL_SR_GROUPE_RIGHT
							WHERE Group_ID = @idgrp
						   )

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_SR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_ListAll_SR_MODULES] 

AS
 SELECT * FROM TBL_SR_MODULES


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_SR_MODULES_Actif]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_ListAll_SR_MODULES_Actif] 

AS
 SELECT * FROM TBL_SR_MODULES WHERE ActifYN=1


GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_TypeObject]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_TypeObject]

AS

	SELECT Distinct(ObjectType) as TypeObj
	FROM TBL_SR_OBJECTS

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_User]
(
	@ActifYN NVARCHAR(100)
)
AS
IF (@ActifYN <> 'FO')
		BEGIN
			SELECT * FROM dbo.TBL_SR_USER
			WHERE ActifYN = @ActifYN
			-- ORDER BY DateCreated DESC
		END
	ELSE
		BEGIN
			SELECT * FROM dbo.TBL_SR_USER
			-- ORDER BY DateCreated DESC
		END

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User_ByIDGroup_ByStatut]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_User_ByIDGroup_ByStatut]
(
	@ID_Group AS BIGINT,
	@ActifYN AS BIT
)
AS
BEGIN
		 
		SELECT * FROM dbo.TBL_SR_USER WHERE 1=1
		AND ActifYN = @ActifYN
		AND ID_GroupeUser = @ID_Group
		ORDER BY DateCreated ASC
END

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_User_InAnnonce]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_User_InAnnonce]
(
	@ActifYN NVARCHAR(100)
)
AS
IF (@ActifYN <> 'FO')
		BEGIN
			SELECT * FROM dbo.TBL_SR_USER
			WHERE ActifYN = @ActifYN
			AND ID_User IN (SELECT IDUser FROM dbo.tbl_Annonce)
			ORDER BY NomComplet ASC
		END
	ELSE
		BEGIN
			SELECT * FROM dbo.TBL_SR_USER
			WHERE ID_User IN (SELECT IDUser FROM dbo.tbl_Annonce)
			ORDER BY NomComplet ASC
		END

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_UserConnected]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_UserConnected]
(
	@ID_Group BIGINT
)
AS
	IF @ID_Group = 0
		SELECT * FROM dbo.TBL_SR_USER
		WHERE ConnecterYN = 1
		ORDER BY LastLogin DESC
	ELSE
		SELECT * FROM dbo.TBL_SR_USER
		WHERE ConnecterYN = 1 
		AND ID_GroupeUser = @ID_Group
		ORDER BY LastLogin DESC

GO
/****** Object:  StoredProcedure [dbo].[SR_ListAll_Utilisateur_InLog]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListAll_Utilisateur_InLog]
AS
	SELECT DISTINCT User_ID FROM dbo.TBL_SR_USER_ACTIVITE
	ORDER BY User_ID

GO
/****** Object:  StoredProcedure [dbo].[SR_ListeAll_Objets_ByObjectType]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_ListeAll_Objets_ByObjectType]
	@ObjectType as NVARCHAR(100)
AS
BEGIN
	SELECT * FROM [TBL_SR_OBJECTS]
	WHERE [ObjectType] = @ObjectType
END

GO
/****** Object:  StoredProcedure [dbo].[SR_Search_ActiviteUser_ByUser_AndDate]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXECUTE [dbo].[SR_Search_ActiviteUser_ByUser_AndDate] '','Forced Log Off','01-01-2011','08-11-2012'

CREATE PROCEDURE [dbo].[SR_Search_ActiviteUser_ByUser_AndDate]
(
	@User_ID AS NVARCHAR(200),
	@Activity AS NVARCHAR(200),
	@DateDebut AS DATETIME,
	@DateFin AS DATETIME
)
AS	
if(LEN(@User_ID) > 0 AND LEN(@Activity) > 0 )
	SELECT *
	FROM [dbo].[TBL_SR_USER_ACTIVITE]
	WHERE 1=1
	AND [User_ID] = @User_ID
	AND [Activity] = @Activity
	AND [Date_Activite] BETWEEN @DateDebut AND @DateFin
	ORDER BY [Date_Activite] DESC

if(LEN(@User_ID) > 0 AND LEN(@Activity) = 0 )
	SELECT *
	FROM [dbo].[TBL_SR_USER_ACTIVITE]
	WHERE 1=1
	AND [User_ID] = @User_ID
	AND [Date_Activite] BETWEEN @DateDebut AND @DateFin
	ORDER BY [Date_Activite] DESC

if(LEN(@User_ID) = 0 AND LEN(@Activity) > 0 )
	SELECT *
	FROM [dbo].[TBL_SR_USER_ACTIVITE]
	WHERE 1=1
	AND [Activity] = @Activity
	AND [Date_Activite] BETWEEN @DateDebut AND @DateFin
	ORDER BY [Date_Activite] DESC

if(LEN(@User_ID) = 0 AND LEN(@Activity) = 0 )
	SELECT *
	FROM [dbo].[TBL_SR_USER_ACTIVITE]
	WHERE 1=1
	AND [Date_Activite] BETWEEN @DateDebut AND @DateFin
	ORDER BY [Date_Activite] DESC

GO
/****** Object:  StoredProcedure [dbo].[SR_Search_Object_Like]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jean Fritz DUVERSEAU>
-- Create date: <Friday 13th, 2012>
-- =============================================

CREATE PROCEDURE [dbo].[SR_Search_Object_Like]
(
	@String_Search AS VARCHAR(200),
	@ObjectType AS VARCHAR(200),
	@ID_Modules AS BIGINT
)
AS
BEGIN		
	IF (LEN(@String_Search) > 0 AND LEN(@ObjectType) = 0 AND @ID_Modules = 0)
	SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		 AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%' )
		 ORDER BY DateCreated ASC
			 
	IF (LEN(@String_Search) > 0 AND LEN(@ObjectType) > 0 AND @ID_Modules = 0)
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%'  )
		AND ObjectType = @ObjectType
		ORDER BY DateCreated ASC
			 
	IF (LEN(@String_Search) = 0 AND LEN(@ObjectType) > 0 AND @ID_Modules = 0)
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		AND ObjectType = @ObjectType
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) = 0 AND LEN(@ObjectType) = 0 AND @ID_Modules = 0)			 
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) > 0 AND LEN(@ObjectType) > 0 AND @ID_Modules > 0)			 
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%'  )
		AND ObjectType = @ObjectType
		AND ID_Modules = @ID_Modules
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) > 0 AND LEN(@ObjectType) = 0 AND @ID_Modules > 0)			 
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%'  )
		--AND ObjectType = @ObjectType
		AND ID_Modules = @ID_Modules
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) = 0 AND LEN(@ObjectType) > 0 AND @ID_Modules > 0)			 
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		-- AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%'  )
		AND ObjectType = @ObjectType
		AND ID_Modules = @ID_Modules
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) = 0 AND LEN(@ObjectType) = 0 AND @ID_Modules > 0)			 
		SELECT * FROM dbo.TBL_SR_OBJECTS WHERE 1=1
		--AND ([Object] LIKE '%' + @String_Search + '%' OR ObjectDescription  LIKE '%' + @String_Search + '%'  )
		--AND ObjectType = @ObjectType
		AND ID_Modules = @ID_Modules
		ORDER BY DateCreated ASC
END


GO
/****** Object:  StoredProcedure [dbo].[SR_Search_User_Like]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Jean Fritz DUVERSEAU>
-- Create date: <Friday 13th, 2012>
-- =============================================

CREATE PROCEDURE [dbo].[SR_Search_User_Like]
(
	@String_Search AS VARCHAR(200),
	@ID_Group AS BIGINT
)
AS
BEGIN
	IF (LEN(@String_Search) > 0 AND @ID_Group = 0)
		SELECT * FROM dbo.TBL_SR_USER WHERE 1=1
			 AND (UserName LIKE '%' + @String_Search + '%' OR Nom LIKE '%' + @String_Search + '%'  OR Prenom LIKE '%' + @String_Search + '%' )
			 ORDER BY DateCreated ASC
			 
	IF (LEN(@String_Search) > 0 AND @ID_Group > 0)
		SELECT * FROM dbo.TBL_SR_USER WHERE 1=1
		AND (UserName LIKE '%' + @String_Search + '%' OR Nom LIKE '%' + @String_Search + '%'  OR Prenom LIKE '%' + @String_Search + '%' )
		AND ID_GroupeUser = @ID_Group
		ORDER BY DateCreated ASC
			 
	IF (LEN(@String_Search) = 0 AND @ID_Group > 0)
		SELECT * FROM dbo.TBL_SR_USER WHERE 1=1
		AND ID_GroupeUser = @ID_Group
		ORDER BY DateCreated ASC
		
	IF (LEN(@String_Search) = 0 AND @ID_Group = 0)			 
		SELECT * FROM dbo.TBL_SR_USER WHERE 1=1
		ORDER BY DateCreated ASC
END

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Groupe_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Groupe_ByName]
(
	@Groupe_Description NVARCHAR(100)
)
AS

SELECT * FROM TBL_SR_GROUPE 
WHERE Groupe_Description = @Groupe_Description

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Groupe_ByName2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Groupe_ByName2]
(
	@Groupe_Description NVARCHAR(100)
)
AS

SELECT * FROM TBL_SR_GROUPE 
WHERE Groupe_Description = @Groupe_Description
-----------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_GroupeUser_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_GroupeUser_ById]
(
	@ID_Group BIGINT
)
AS
	SELECT * FROM dbo.TBL_SR_GROUPE
	WHERE ID_Group = @ID_Group

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_GroupeUser_ById2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_GroupeUser_ById2]
(
	@ID_Group BIGINT
)
AS
	SELECT * FROM dbo.TBL_SR_GROUPE
	WHERE ID_Group = @ID_Group

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName]
(
	@idgrp bigint,
	@objrequest nvarchar(100)
)
AS
	
	Select Distinct(TBL_SR_OBJECTS.Object) 
	From TBL_SR_GROUPE, TBL_SR_GROUPE_RIGHT, TBL_SR_RIGHTS, TBL_SR_OBJECT_RIGHT, TBL_SR_OBJECTS
    Where TBL_SR_GROUPE.ID_Group = TBL_SR_GROUPE_RIGHT.Group_ID
		AND TBL_SR_GROUPE_RIGHT.Right_ID = TBL_SR_RIGHTS.Right_ID
		AND TBL_SR_RIGHTS.Right_ID = TBL_SR_OBJECT_RIGHT.Right_ID
		AND TBL_SR_OBJECT_RIGHT.Object_ID = TBL_SR_OBJECTS.Object_ID
		AND TBL_SR_GROUPE.ID_Group = @idgrp
		AND TBL_SR_OBJECTS.Object = @objrequest

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName_Actif]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName_Actif]
(
	@idgrp bigint,
	@objrequest nvarchar(100)
)
AS
	
	Select Distinct(TBL_SR_OBJECTS.Object) 
	From TBL_SR_GROUPE, TBL_SR_GROUPE_RIGHT, TBL_SR_RIGHTS, TBL_SR_OBJECT_RIGHT, TBL_SR_OBJECTS
    Where TBL_SR_GROUPE.ID_Group = TBL_SR_GROUPE_RIGHT.Group_ID
		AND TBL_SR_GROUPE_RIGHT.Right_ID = TBL_SR_RIGHTS.Right_ID
		AND TBL_SR_RIGHTS.Right_ID = TBL_SR_OBJECT_RIGHT.Right_ID
		AND TBL_SR_OBJECT_RIGHT.Object_ID = TBL_SR_OBJECTS.Object_ID
		AND TBL_SR_GROUPE.ID_Group = @idgrp
		AND TBL_SR_OBJECTS.Object = @objrequest
		AND TBL_SR_OBJECTS.ID_Modules IN (SELECT ID FROM TBL_SR_MODULES WHERE ActifYN=1)


GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName_Actif2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName_Actif2]
(
	@idgrp bigint,
	@objrequest nvarchar(100)
)
AS
	
	Select Distinct(TBL_SR_OBJECTS.Object) 
	From TBL_SR_GROUPE, TBL_SR_GROUPE_RIGHT, TBL_SR_RIGHTS, TBL_SR_OBJECT_RIGHT, TBL_SR_OBJECTS
    Where TBL_SR_GROUPE.ID_Group = TBL_SR_GROUPE_RIGHT.Group_ID
		AND TBL_SR_GROUPE_RIGHT.Right_ID = TBL_SR_RIGHTS.Right_ID
		AND TBL_SR_RIGHTS.Right_ID = TBL_SR_OBJECT_RIGHT.Right_ID
		AND TBL_SR_OBJECT_RIGHT.Object_ID = TBL_SR_OBJECTS.Object_ID
		AND TBL_SR_GROUPE.ID_Group = @idgrp
		AND TBL_SR_OBJECTS.Object = @objrequest
		AND TBL_SR_OBJECTS.ID_Modules IN (SELECT ID FROM TBL_SR_MODULES WHERE ActifYN=1)

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByGroup_ByName2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Object_ByGroup_ByName2]
(
	@idgrp bigint,
	@objrequest nvarchar(100)
)
AS
	
	Select Distinct(TBL_SR_OBJECTS.Object) 
	From TBL_SR_GROUPE, TBL_SR_GROUPE_RIGHT, TBL_SR_RIGHTS, TBL_SR_OBJECT_RIGHT, TBL_SR_OBJECTS
    Where TBL_SR_GROUPE.ID_Group = TBL_SR_GROUPE_RIGHT.Group_ID
		AND TBL_SR_GROUPE_RIGHT.Right_ID = TBL_SR_RIGHTS.Right_ID
		AND TBL_SR_RIGHTS.Right_ID = TBL_SR_OBJECT_RIGHT.Right_ID
		AND TBL_SR_OBJECT_RIGHT.Object_ID = TBL_SR_OBJECTS.Object_ID
		AND TBL_SR_GROUPE.ID_Group = @idgrp
		AND TBL_SR_OBJECTS.Object = @objrequest

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Object_ById]
(
	@ID bigint
)
AS

	SELECT * FROM dbo.TBL_SR_OBJECTS
	WHERE [Object_ID] = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Object_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Object_ByName]
(
	@Nom nvarchar(100)
)
AS

	SELECT * FROM TBL_SR_OBJECTS
	WHERE [Object] = @Nom

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Right_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Right_ById]
(
	@ID int
)
AS

	SELECT * FROM TBL_SR_RIGHTS
	WHERE Right_ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_Right_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_Right_ByName]
(
	@Nom nvarchar(50)
)
AS

	SELECT * FROM TBL_SR_RIGHTS
	WHERE Privilege = @Nom

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_SR_MODULES_ByName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Select_SR_MODULES_ByName] 
(
	@Module as nvarchar(100)
)
AS
 SELECT * FROM TBL_SR_MODULES WHERE Module = @Module


GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ById]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_User_ById]
(
	@ID_User Bigint
)
AS

	SELECT * FROM dbo.TBL_SR_USER
	WHERE [ID_User] = @ID_User

GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ByID_Ecole_ByUserName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Select_User_ByID_Ecole_ByUserName]
(
	@ID_Ecole as BIGINT
	,@UserName NVARCHAR(100)
)
AS

	SELECT * FROM dbo.TBL_SR_USER WHERE 
	[UserName] = @UserName AND ID_Ecole = @ID_Ecole


GO
/****** Object:  StoredProcedure [dbo].[SR_Select_User_ByUserName]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Select_User_ByUserName]
(
	@UserName NVARCHAR(100)
)
AS

	SELECT * FROM dbo.TBL_SR_USER
	WHERE [UserName] = @UserName

GO
/****** Object:  StoredProcedure [dbo].[SR_SelectSR_MODULES_ByID]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_SelectSR_MODULES_ByID] 

	(
		@ID bigint
	)
AS

	SELECT * FROM TBL_SR_MODULES
	WHERE ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Groupe]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Update_Groupe]
(
	@id bigint,
	@Groupe_Description nvarchar(100),
	@PageDefault nvarchar(max),
	@usrup nvarchar(100)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update TBL_SR_GROUPE
	Set 
		Groupe_Description = @Groupe_Description,
		PageDefault = @PageDefault,
		ModifBy = @usrup,
		DateModif = getdate()
	Where ID_Group = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER
	
	COMMIT TRANSACTION
	
	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error


GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Groupe2]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_Groupe2]
(
	@id bigint,
	@Groupe_Description nvarchar(100),
	@PageDefault nvarchar(max),
	@usrup nvarchar(100)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update TBL_SR_GROUPE
	Set 
		Groupe_Description = @Groupe_Description,
		PageDefault = @PageDefault,
		ModifBy = @usrup,
		DateModif = getdate()
	Where ID_Group = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER
	
	COMMIT TRANSACTION
	
	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Object]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_Update_Object]
(
	@id bigint,
	@Nom nvarchar(100),
	@Desc nvarchar(200),
	@Type nvarchar(20),
	@ID_Modules bigint,
	@IsProduitsRezo509 bit,
	@usrup nvarchar(100)
)
AS
	DECLARE @Error int

	BEGIN TRANSACTION 

	Update dbo.TBL_SR_OBJECTS
	Set 
		[Object] = @Nom,
		ObjectDescription = @Desc,
		ObjectType = @Type,
		ID_Modules = @ID_Modules,
		IsProduitsRezo509 = @IsProduitsRezo509,
		ModifBy = @usrup,
		DateModif = getdate()
	Where [Object_ID] = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error
----------------------------------------------------------------------


GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Password_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_Password_User]
(
	@id bigint,
	@pass nvarchar(100),
	@usrup nvarchar(20)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update dbo.TBL_SR_USER
	Set 
		[Password] = @pass,
		MustChangePassword = 0,
		ModifBy = @usrup,
		DateModif = getdate()
	Where ID_User = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_Right]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_Right]
(
	@id bigint,
	@Nom nvarchar(50),
	@usrup nvarchar(20)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update TBL_SR_RIGHTS
	Set 
		Privilege = @Nom,
		ModifBy = @usrup,
		DateModif = getdate()
	Where Right_ID = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION
	
	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_User] 
(
	@ID_User bigint
	,@ID_Ecole bigint
	,@Photo image
	,@ID_GroupeUser bigint
	,@UserName nvarchar(200)
	,@Civilite nvarchar(20)
	,@Nom nvarchar(400)
	,@Prenom nvarchar(200)
	,@Sexe nvarchar(20)
	,@Telephone nvarchar(100)
	,@DateNaissance date
	,@ID_PaysNaissance bigint
	,@ID_Occupation bigint
	,@ID_Departement bigint
	,@ID_Commune bigint
	,@ID_PaysAdresse bigint
	,@AdresseRue nvarchar(400)
	,@AdresseCity nvarchar(200)
	,@AdresseProvince nvarchar(200)
	,@AdresseCodePostal nvarchar(200)
	,@AlerteNouveaute bit
	,@AutreAlerte bit
	,@ActifYN bit
	,@Confirmer bit
	,@IdAppFireBase nvarchar(MAX)
	,@IdFirebaseToken nvarchar(MAX)
	,@user nvarchar(200)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	UPDATE TBL_SR_USER
	SET
		[ID_Ecole] = @ID_Ecole
		,[Photo] = @Photo
		,[ID_GroupeUser] = @ID_GroupeUser
		,[UserName] = @UserName
		,[Civilite] = @Civilite
		,[Nom] = @Nom
		,[Prenom] = @Prenom
		,[Sexe] = @Sexe
		,[Telephone] = @Telephone
		,[DateNaissance] = @DateNaissance
		,[ID_PaysNaissance] = @ID_PaysNaissance
		,[ID_Occupation] = @ID_Occupation
		,[ID_Departement] = @ID_Departement
		,[ID_Commune] = @ID_Commune
		,[ID_PaysAdresse] = @ID_PaysAdresse
		,[AdresseRue] = @AdresseRue
		,[AdresseCity] = @AdresseCity
		,[AdresseProvince] = @AdresseProvince
		,[AdresseCodePostal] = @AdresseCodePostal
		,[AlerteNouveaute] = @AlerteNouveaute
		,[AutreAlerte] = @AutreAlerte
		,[ActifYN] = @ActifYN
		,[Confirmer] = @Confirmer
		,[IdAppFireBase] = @IdAppFireBase
		,[IdFirebaseToken] = @IdFirebaseToken
		,Modifby = @user
		,DateModif = GETDATE()
	Where ID_User = @ID_User

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0)

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_ForcedOut]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_User_ForcedOut]
(
	@ID_User bigint
	,@IsForcedOut bit
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update dbo.TBL_SR_USER
	Set 
		IsForcedOut = @IsForcedOut
	Where ID_User = @ID_User

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_Statut_Connexion]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_User_Statut_Connexion]
(
	@ID_User bigint
	,@ConnecterYN bit
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update dbo.TBL_SR_USER
	Set ConnecterYN = @ConnecterYN
	Where ID_User = @ID_User

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_Update_User_Trace_LastLogin]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_Update_User_Trace_LastLogin]
(
	@id bigint,
	@lastIP nvarchar(15),
	@ModifBy nvarchar(100)
)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	Update dbo.TBL_SR_USER
	Set 
		LastLogin = getdate(),
		LastIP = @lastIP,
		ModifBy = @ModifBy,
		DateModif = getdate()
	Where ID_User = @id

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0) 

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
/****** Object:  StoredProcedure [dbo].[SR_UpdateSR_MODULES]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SR_UpdateSR_MODULES] 
	(
		@ID bigint
		,@Module nvarchar(200)
		,@ModuleDescription nvarchar(400)
		,@ActifYN bit
		,@user nvarchar(100)
	)
AS

	DECLARE @Error int

	BEGIN TRANSACTION 

	UPDATE TBL_SR_MODULES
	SET

		[Module] = @Module
		,[ModuleDescription] = @ModuleDescription
		,[ActifYN] = @ActifYN
		,Modifby =@user
		,DateModif=GETDATE()


	Where ID = @ID

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0)

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error


GO
/****** Object:  StoredProcedure [dbo].[SR_UpdateUser_AskPassword]    Script Date: 5/15/2018 10:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SR_UpdateUser_AskPassword] 
	(
		@ID bigint
		,@AskPassword NVARCHAR(80)
		,@user nvarchar(100)
	)
AS

	DECLARE @Error int
	BEGIN TRANSACTION 
	UPDATE TBL_SR_USER
	SET
		[AskPassword] = @AskPassword
		,Modifby = @user
		,DateModif = GETDATE()
	Where ID_User = @ID

	SET @Error = @@ERROR
	IF @Error != 0 GOTO ERROR_HANDLER

	COMMIT TRANSACTION

	RETURN(0)

ERROR_HANDLER:
	IF @@TRANCOUNT != 0 ROLLBACK TRANSACTION
	RETURN @Error

GO
